.new-collecions {
    margin-bottom: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.new-collecions h1 {
    color: #171717;
    font-size: 2.5vw;
    font-weight: 600;
}

.new-collecions hr {
    width: 15vw;
    height: 0.3vw;
    border-radius: 10px;
    background-color: #252525;
}

.collections {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

@media (max-width:920px) {
    .new-collecions h1 {
        font-size: 4vw;
    }

    .new-collecions hr {
        width: 25vw;
        height: 0.6vw;
    }
}